*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 36, 40);
}

main{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.hero__h1{
    margin-top: 50px;
    color: white;
    font-size: 3em;
}

.hero__content{
    margin-top: 10px;
    background-color: white;
    width: 800px;
    height: 130px;
    border: 1px solid black;
    border-radius: 6px;
}

.hero__time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 500;
    margin-top: 20px;
}

.hero__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 230px;
}

.hero__button-1{
    background-color:dodgerblue;
}

.hero__button-2{
    background-color: green;
}

.hero__button-3{
    background-color: red;
}

.hero__button-1,.hero__button-2,.hero__button-3{
    margin-top: 5px;
    width: 80px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
}